APP_ENV=development
APP_PORT=8080

# DB
DB_HOST=localhost
DB_PORT=5432
POSTGRES_USER=myuser
POSTGRES_PASSWORD=mypassword
POSTGRES_DB=mydatabase

# Object store
MINIO_ROOT_USER=myminiouser
MINIO_ROOT_PASSWORD=myminiopassword

OBJECT_STORE_PORT=9000
OBJECT_STORE_CONSOLE_PORT=9001
OBJECT_STORE_ACCESS_KEY=
OBJECT_STORE_SECRET_ACCESS_KEY=
OBJECT_STORE_ENDPOINT=http://localhost:9000
OBJECT_STORE_BUCKET=post-media

# Encryption
ENCRYPTION_KEY=
ENCRYPTION_SALT=


# SSL
SSL_CERT_PATH=//home/peter/Personal/Projects/OpenCM/backend/.certs/server.crt
SSL_KEY_PATH=/home/peter/Personal/Projects/OpenCM/backend/.certs/server.key

# CORS
ORIGIN=http://localhost:5173

# LinkedIn OAuth
LINKEDIN_CLIENT_ID=
LINKEDIN_CLIENT_SECRET=
LINKEDIN_REDIRECT_URI=

# X OAuth
X_API_KEY=
X_API_SECRET=